// Загаліні стилі
// Добавляє плавний скрол по всій сторінці
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;

  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

body.modal-open {
  overflow: hidden;
}

// Картинки: робимо блоковими + забираємо простір під картинкою
img {
  display: block;
  max-width: 100%;
  height: auto;
}

// забираєм підкреслення і правий відступ у посилань
a {
  text-decoration: none;
  display: inline-block;
}

// забираєм крапку, margin i padding y всіх списках
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
