.container {
  max-width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: $mobile-320) {
  .container {
    min-width: 320px;

    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (min-width: $tablet-768) {
  .container {
    width: 768px;

    padding-right: 40px;
    padding-left: 40px;
  }
}
@media screen and (min-width: $desktop-1366) {
  .container {
    width: 1366px;
    padding-right: 26px;
    padding-left: 26px;
  }
}
