<section id="id-page-how-we-do">
    <div class="container how-we-do-container"  >
        <h2 class="section-title">How do we do it</h2>
        <ul class="card-list">
            <li class="card-list__item">
                <a class="card-list__link" href="#">
                    <svg class="icon-how-we-do icon-one">
                        <use href="./images/sprite.svg#icon-how-we-do-1"></use>
                    </svg>
                    <h3 class="card-title">Adapted program preparation for UPE</h3>
                    <p class="card-text">You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
                </a>
            </li>
            <li class="card-list__item">
                <a class="card-list__link" href="#">
                    <svg class="icon-how-we-do icon-two">
                        <use href="./images/sprite.svg#icon-how-we-do-2"></use>
                    </svg>
                    <h3 class="card-title">Classroom and online learning</h3>
                    <p class="card-text">The teacher will help not only in the classroom, but also during home preparation.Parents can chat if they wish.</p>
                </a>
            </li>
            <li class="card-list__item">
                <a class="card-list__link" href="#">
                    <svg class="icon-how-we-do icon-tree">
                        <use href="./images/sprite.svg#icon-how-we-do-3"></use>
                    </svg>
                    <h3 class="card-title">The habit of reading in English</h3>
                    <p class="card-text">Articles from sources that are used in the development of this UPE will be received by phone twice a week.</p>
                </a>
            </li>
            <li class="card-list__item">
                <a class="card-list__link" href="#">
                    <svg class="icon-how-we-do icon-four">
                        <use href="./images/sprite.svg#icon-how-we-do-4"></use>
                    </svg>
                    <h3 class="card-title">Psychological support</h3>
                    <p class="card-text">We will teach you testing techniques, the ability to plan your confidence training
                        in itself.</p>
                </a> 
            </li>
            <li class="card-list__item">
                <a class="card-list__link" href="#">
                    <svg class="icon-how-we-do icon-five">
                        <use href="./images/sprite.svg#icon-how-we-do-5"></use>
                    </svg>
                    <h3 class="card-title">Training on copyright manuals</h3>
                    <p class="card-text">You don't have to waste your time
                        on a search for material and to buy anything extra. We have compiled
                        2 manuals for you.</p>
                </a>
                
            </li>
            <li class="card-list__item">
                <a class="card-list__link" href="#">
                    <svg class="icon-how-we-do icon-six">
                        <use href="./images/sprite.svg#icon-how-we-do-6"></use>
                    </svg>
                    <h3 class="card-title">Ability to comprehend spoken English</h3>
                    <p class="card-text">“F.R.I.E.N.D.S” won't help you. You will listen regularly
                    and analyze audio recordings
                    in accordance with the studied vocabulary.</p>
                </a>
            </li>
        </ul>
    </div>
</section>

