<header>
    <div class="container">
        <div class="header-flex">
        <a class="logo header-logo" href="./index.html" >Hell <span class="logo">EN</span>
        <span class="logo-sup" href="">Hellish <span class="logo-second_sup" href="">english</span></span></a>
        <a href="#" class="header-icon">
            <svg class="" width="21" height="12"
          aria-label="Переключатель мобильного меню">
          <use class="" href="../src/images/sprite.svg#icon-menu"></use>
        </svg></a>
    </div>
    </div>
</header>