<section class="guarantee" id="id-page-guarantee">
  <h2 class="guarantee-title">We guarantee</h2>
  <div class="guarantee-wrapper-mobile">
    <div class="container">
      <ul class="guarantee-list">
        <li class="guarantee-list-item">
          You will pass the UPE with at least 25 points better than on the first practice test.
          Otherwise, we will refund your money.<span class="guarantee-accent">*</span>
        </li>
        <li class="guarantee-list-item">
          You will learn to write essays with at least 10 points out of 14.
          <span class="guarantee-accent">While 20% of the students received 0 for essays.</span>
        </li>
        <li class="guarantee-list-item">
          You will study in your area. We will choose the location for the classes after the teams
          have been formed.
        </li>
        <li class="guarantee-list-item">
          Teams will be formed based on the starting level of the students. We take into account the
          characteristics of each student.
        </li>
      </ul>
    </div>
  </div>
</section>
