<section class="program">
    <h2 class="program-title">Our program</h2>
    <div class="program-wrapper">
        <div class="container program-container">
            <ul class="program-list-first">
                <li class="program-item-first">1 semester
                    <ul class="program-list-second">
                        <li class="program-item-second">Grammar
                            <ul class="program-list-third">
                                <li class="program-item-third">Nouns & Articles</li>
                                <li class="program-item-third">Adjectives & Adverb</li>
                            </ul>
                        </li>
                        <li class="program-item-second">Vocabulary
                            <ul class="program-list-third">
                                <li class="program-item-third">Family & Relations</li>
                                <li class="program-item-third">People & Society</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program-item-first">2 semester
                    <ul class="program-list-second">
                        <li class="program-item-second">Grammar
                            <ul class="program-list-third">
                                <li class="program-item-third">Pronouns</li>
                                <li class="program-item-third">Active Voice</li>
                                <li class="program-item-third">Passive Voice</li>
                            </ul>
                        </li>
                        <li class="program-item-second">Vocabulary
                            <ul class="program-list-third">
                                <li class="program-item-third">Home</li>
                                <li class="program-item-third">School</li>
                                <li class="program-item-third">Work</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program-item-first">3 semester
                    <ul class="program-list-second">
                        <li class="program-item-second">Grammar
                            <ul class="program-list-third">
                                <li class="program-item-third">Modal verbs</li>
                                <li class="program-item-third">Infinitive</li>
                                <li class="program-item-third">Gerund</li>
                                <li class="program-item-third">Participle: 1, 2</li>
                            </ul>
                        </li>
                        <li class="program-item-second">Vocabulary
                            <ul class="program-list-third">
                                <li class="program-item-third">Travel & Tourism</li>
                                <li class="program-item-third">Culture & Free Time</li>
                                <li class="program-item-third">Sport</li>
                            </ul>
                        </li>
                        <li class="program-item-second">Writing
                            <ul class="program-list-third">
                                <li class="program-item-third">Informal Letter</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program-item-first">4 semester
                    <ul class="program-list-second">
                        <li class="program-item-second">Grammar
                            <ul class="program-list-third">
                                <li class="program-item-third">Clauses: Conditional and Wishes</li>
                                <li class="program-item-third">Direct / Reported speech</li>
                                <li class="program-item-third">Preposition</li>
                                <li class="program-item-third">Conjunction</li>
                                <li class="program-item-third">Numeral</li>
                            </ul>
                        </li>
                        <li class="program-item-second">Vocabulary
                            <ul class="program-list-third">
                                <li class="program-item-third">Healthy Living</li>
                                <li class="program-item-third">Nature & Environment</li>
                                <li class="program-item-third">Money</li>
                            </ul>
                        </li>
                        <li class="program-item-second">Writing
                            <ul class="program-list-third">
                                <li class="program-item-third">Formal Letter</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="program-item-first">5 semester
                    <ul class="program-list-second">
                        <li class="program-item-second">
                            <ul class="program-list-third">
                                <li class="program-item-third">Revision</li>
                                <li class="program-item-third">Tests</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>