<section id="id-page-program" class="program">
    <div class="container program-container">
        <h2 class="program-title">Our program</h2>
        <ul class="program-list-first">
            <li class="program-item-semester">1 semester
                <ul class="program-list-second">
                    <li class="program-item-block">Grammar
                        <ul class="program-list-third">
                            <li class="program-item-description">Nouns & Articles</li>
                            <li class="program-item-description">Adjectives & Adverb</li>
                        </ul>
                    </li>
                    <li class="program-item-block">Vocabulary
                        <ul class="program-list-third">
                            <li class="program-item-description">Family & Relations</li>
                            <li class="program-item-description">People & Society</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program-item-semester">2 semester
                <ul class="program-list-second">
                    <li class="program-item-block">Grammar
                        <ul class="program-list-third">
                            <li class="program-item-description">Pronouns</li>
                            <li class="program-item-description">Active Voice</li>
                            <li class="program-item-description">Passive Voice</li>
                        </ul>
                    </li>
                    <li class="program-item-block">Vocabulary
                        <ul class="program-list-third">
                            <li class="program-item-description">Home</li>
                            <li class="program-item-description">School</li>
                            <li class="program-item-description">Work</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program-item-semester">3 semester
                <ul class="program-list-second">
                    <li class="program-item-block">Grammar
                        <ul class="program-list-third">
                            <li class="program-item-description">Modal verbs</li>
                            <li class="program-item-description">Infinitive</li>
                            <li class="program-item-description">Gerund</li>
                            <li class="program-item-description">Participle: 1, 2</li>
                        </ul>
                    </li>
                    <li class="program-item-block">Vocabulary
                        <ul class="program-list-third">
                            <li class="program-item-description">Travel & Tourism</li>
                            <li class="program-item-description">Culture & Free Time</li>
                            <li class="program-item-description">Sport</li>
                        </ul>
                    </li>
                    <li class="program-item-block">Writing
                        <ul class="program-list-third">
                            <li class="program-item-description">Informal Letter</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program-item-semester">4 semester
                <ul class="program-list-second">
                    <li class="program-item-block">Grammar
                        <ul class="program-list-third">
                            <li class="program-item-description">Clauses: Conditional and Wishes</li>
                            <li class="program-item-description">Direct / Reported speech</li>
                            <li class="program-item-description">Preposition</li>
                            <li class="program-item-description">Conjunction</li>
                            <li class="program-item-description">Numeral</li>
                        </ul>
                    </li>
                    <li class="program-item-block">Vocabulary
                        <ul class="program-list-third">
                            <li class="program-item-description">Healthy Living</li>
                            <li class="program-item-description">Nature & Environment</li>
                            <li class="program-item-description">Money</li>
                        </ul>
                    </li>
                    <li class="program-item-block">Writing
                        <ul class="program-list-third">
                            <li class="program-item-description">Formal Letter</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="program-item-semester">5 semester
                <ul class="program-list-second">
                    <li class="program-item-block">Examination
                        <ul class="program-list-third">
                            <li class="program-item-description">Revision</li>
                            <li class="program-item-description">Tests</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>