<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal-flex">
      <a href="./index.html" class="modal-logo-icon">
        <svg class="modal-logo" aria-label="Logo HellEn">
          <use class="" href="../src/images/sprite.svg#logo-small-black"></use>
        </svg>
      </a>
      <button type="button" class="modal-menu" data-modal-close>
        <svg class="modal-close-icon" width="21" height="21" aria-label="Mobile menu toggle">
          <use href="../src/images/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <nav class="site-nav">
      <ul class="modal-navigation">
        <li class="modal-link"><a href="#id-page-program" data-ancor-close>Studying program</a></li>
        <li class="modal-link"><a href="#id-page-about" data-ancor-close>About</a></li>
        <li class="modal-link">
          <a href="#id-page-how-we-do" data-ancor-close>Training options</a>
        </li>
        <li class="modal-link"><a href="#id-page-contacts" data-ancor-close>Contacts</a></li>
      </ul>
    </nav>
    <button class="modal-button button-animation" type="button" data-form-open>
      consultation by phone
    </button>
  </div>
</div>
