<header>
  <div class="container">
    <div class="header-flex">
      <a href="./index.html" class="">
        <svg class="" width="80" height="30" aria-label="Логотип Хелл Энглишь">
          <use class="" href="../src/images/sprite.svg#logo-small-black"></use>
        </svg>
      </a>
      </a>
      <a href="#" class="header-icon">
        <svg class="" width="21" height="12" aria-label="Переключатель мобильного меню">
          <use class="" href="../src/images/sprite.svg#icon-menu-big"></use>
        </svg>
      </a>

    </div>
  </div>
</header>
