<section class="section" id="id-page-about">
    <div class="container">
        <h2 class="section-about-title">Teacher</h2>
        <div class="wrapper-about">
          <picture>
            <source
              srcset="
                ./images/compressed/about/about-mobile.webp    1x,
                ./images/compressed/about/about-mobile@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/compressed/about/about-mobile.jpg    1x,
                ./images/compressed/about/about-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./images/compressed/about/about-tablet.webp    1x,
                ./images/compressed/about/about-tablet@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 1365px)"
            />
            <source
              srcset="
                ./images/compressed/about/about-tablet.jpg    1x,
                ./images/compressed/about/about-tablet@2x.jpg 2x
              "
              media="(max-width: 1365px)"
            />

            <source
              srcset="
                ./images/compressed/about/about-desktop.webp    1x,
                ./images/compressed/about/about-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 1366px)"
            />
            <source
              srcset="
                ./images/compressed/about/about-desktop.jpg    1x,
                ./images/compressed/about/about-desktop@2x.jpg 2x
              "
              media="(min-width: 1366px)"
            />
            <img class="section-img" src="#" alt="Our teacher Elena Moreva" />
          </picture>
          <div class="section-right-side">
              <h3 class="teacher-name">Elena Moreva</h3>
              <p class="expiriens">6 yeards of experience in preparing students for UPE</p>
              <p class="expiriens">Own result of passing VNO - 197 points 2 years in a row</p>
              <p class="expiriens">Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English Test)</p>
              <p class="description">Graduated from the Institute of International Relations of the NAU with a degree in translator-analyst.In spare time takes courses from the best universities in the world on effective teaching and essay writing techniques.Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning (University of Houston).</p>
              <a class="certificate-link" href="#">Cambrige English Entry Level Certificate</a>
          </div>
        </div>        
    </div>
</section>