<section class="section">
    <div class="container">
        <h2>How do we do it</h2>
        <ul>
            <li>
                <svg class="icon-how-we-do">
                    <use href="./images/sprite.svg#icon-how-we-do-1"></use>
                </svg>
                <h3>Adapted program preparation for UPE</h3>
                <p>You will learn grammar and vocabulary at the same time. And you will learn how to write essays.</p>
            </li>
            <li>
                <svg class="icon-how-we-do">
                    <use href="./images/sprite.svg#icon-how-we-do-2"></use>
                </svg>
                <h3>Classroom and online learning</h3>
                <p>The teacher will help not only in the classroom, but also during home preparation.Parents can chat if they wish.</p>
            </li>
            <li>
                <svg class="icon-how-we-do">
                    <use href="./images/sprite.svg#icon-how-we-do-3"></use>
                </svg>
                <h3>The habit of reading in English</h3>
                <p>Articles from sources that are used in the development of this UPE will be received by phone twice a week.</p>
            </li>
            <li>
                <svg class="icon-how-we-do">
                    <use href="./images/sprite.svg#icon-how-we-do-4"></use>
                </svg>
                <h3>Psychological support</h3>
                <p>We will teach you testing techniques, the ability to plan your confidence training
                    in itself.</p>
            </li>
            <li>
                <svg class="icon-how-we-do">
                    <use href="./images/sprite.svg#icon-how-we-do-5"></use>
                </svg>
                <h3>Training on copyright manuals</h3>
                <p>You don't have to waste your time
                    on a search for material and to buy anything extra. We have compiled
                    2 manuals for you.</p>
            </li>
            <li>
                <svg class="icon-how-we-do">
                    <use href="./images/sprite.svg#icon-how-we-do-6"></use>
                </svg>
                <h3>Ability to comprehend spoken English</h3>
                <p>“F.R.I.E.N.D.S” won't help you. You will listen regularly
                and analyze audio recordings
                in accordance with the studied vocabulary.</p>
            </li>
        </ul>
    </div>
</section>

