<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal-flex">
    <a href="./index.html" class="modal-logo-icon">
      <svg class="modal-logo" aria-label="Логотип Хелл Энглишь">
        <use class="" href="../src/images/sprite.svg#logo-small-black"></use>
      </svg>
    </a>
    <button type="button" class="modal-menu" data-modal-close>
      <svg class="modal-close-icon" width="21" height="21" aria-label="Переключатель мобильного меню">
        <use href="../src/images/sprite.svg#icon-close"></use>
      </svg>
    </button>
  </div>
    <nav class="site-nav">
      <ul class="modal-navigation">
        <li class="modal-link"><a href="#"></a>Studying program</li>
        <li class="modal-link"><a href="#"></a>About</li>
        <li class="modal-link"><a href="#"></a>Training options</li>
        <li class="modal-link"><a href="#"></a>Contacts</li>
      </ul>
    </nav>
    <button class="button-consultation" type="button">consultation by phone</button>
  </div>
</div>
