<header class="header">
  <div class="container">
    <div class="header-flex">
      <a href="./index.html" class="header-logo-icon">
        <svg class="header-logo" aria-label="Логотип Хелл Энглишь">
          <use class="" href="../src/images/sprite.svg#logo-small-black"></use>
        </svg>
      </a>
      <nav class="site-nav">
        <ul class="header-navigation">
          <li class="header-link"><a href="#"></a>studying program</li>
          <li class="header-link"><a href="#"></a>about</li>
          <li class="header-link"><a href="#"></a>training options</li>
          <li class="header-link"><a href="#"></a>contacts</li>
        </ul>
      </nav>
      <button class="button-consultation" type="button">consultation by phone</button>
      <button class="header-icon" data-modal-open>
        <svg class="" width="21" height="12" aria-label="Переключатель мобильного меню">
          <use class="" href="../src/images/sprite.svg#icon-menu-big"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
