<footer class="footer" id="id-page-footer">
    <div class="footer-container container">
        <div class="footer-top">
            <div class="footer-logo">
                <a class="fotter-logo-link logo link" href="#id-page-header">
                    <svg class="footer-logo-icon">
                        <use href="./images/sprite.svg#logo-small-black"></use>
                    </svg>
                </a>
            </div>

            <ul class="footer-list list">
                <li class="footer-item">
                    <a class="footer-link link" href="tel:+38(000)0000000">
                        <svg class="footer-tel">
                            <use href="./images/sprite.svg#icon-phone"></use>
                        </svg>+38 (000) 000 00 00</a>
                </li>
                <li class="footer-item">
                    <a class="footer-social-link" href="https://www.instagram.com/" rel="noopener noreferrer"></a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p class="fotter-bottom-text"> All rights reserved, 2019</p>
        </div>
    </div>