<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page-problems</title>
  </head>
  <body>
    <section class="problems">
      <div class="container">
        <h2 class="problems-title">
          The main problems of students <br />
          in English UPE, which <br />
          we <span class="accent">help</span> to solve
        </h2>
        <ul class="problems-list">
          <li class="problems-item">Grammar</li>

          <li class="problems-item">Inability to understand spoken English</li>

          <li class="problems-item">Stingy vocabulary for writing an essay</li>

          <li class="problems-item">Preparing alone</li>

          <li class="problems-item">Lack of a single knowledge resource</li>

          <li class="problems-item">Lack of self-organization and laziness</li>
        </ul>
      </div>
    </section>
  </body>
</html>
