<section class="benefits">
    <div class="container benefits-container">
        <h2 class="benefits-title">Why do people choose us</h2>
        <ul class="benefits-list">
            <li class="benefits-item">Training in small groups</li>
            <li class="benefits-item">Rendered notes</li>
            <li class="benefits-item">Each lesson has a goal and a specific result</li>
            <li class="benefits-item">The real results of the teacher</li>
            <li class="benefits-item">The course program meets the requirements of the MES of Ukraine</li>
            <li class="benefits-item">Set of groups by level of knowledge</li>
        </ul>
    </div>
</section>