// Стилі кнопки
.button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 46px 14px 46px;

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $white-color;
  background: $accent-color;
  cursor: pointer;
  border: 0;

  &:hover,
  &:focus,
  &:active {
    background-color: $white-color;
  }
}
.button-consultation {
  display: none;

  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $accent-color;
  background: rgba(118, 69, 69, 0);
  cursor: pointer;
  border: 2px solid $accent-color;

  &:hover,
  &:focus,
  &:active {
    background-color: $accent-color;
  }
}

.button-animation {
  transform: scale(1);
  border: 1px solid $accent-color;
  transition: transform $time750 $cubic, border-radius $time750 $cubic, box-shadow $time250 $cubic,
    color $time500 $cubic $time500, background-color $time250 $cubic $time500;

  &:hover,
  &:focus {
    border-radius: 20px;
    color: $black-color;
    box-shadow: $shadow-primary;
    transform: scale(1.1);
  }

  &:active {
    color: $black-color;
    box-shadow: $shadow-primary;
    transform: translateY(4px) scale(1.05);
  }
}
