// Стилі логотипу
.logo {
  font-weight: bold;
  font-size: 18px;
  line-height: 6px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: $text-second-color;
}
.logo-sup {
  font-weight: bold;
  font-size: 5px;
  line-height: 6px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  color: $text-second-color;
}
.logo-second_sup {
  color: $accent-color;
}
