// Бэкдроп - задний фон
.backdrop {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: $bg-main-color;
  border: 1px solid $black-color;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px $shadow-third-color;

  opacity: 1;
  overflow-y: scroll;

  transition: opacity $time250 linear, visibility $time250 linear;

  // Не видимий фон
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
