.header-flex {
  display: flex;
  align-items: center;
}
.header-icon {
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-logo {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-button {
  margin-bottom: 30px;
}
.hero-img {
  margin-left: auto;
  margin-right: auto;
}
