// <Section>
.advantages {
  padding-bottom: 45px;

  @media screen and (min-width: $desktop-1366) {
    padding-bottom: 130px;
  }
}
// <Div> Container
.advantages .container {
  padding-left: 52px;
  padding-right: 52px;

  @media screen and (min-width: $tablet-768) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media screen and (min-width: $desktop-1366) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
//  <Ul>
.advantages-list {
  @media screen and (min-width: $tablet-768) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    overflow: hidden;
  }
}

// <Li>
.advantages-item {
  display: flex;
  align-items: center;

  height: 69px;
  padding-right: 0;

  font-weight: 700;
  line-height: 1.649;
  letter-spacing: 0.08em;

  color: $text-second-color;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &:not(:first-child) {
      padding-right: 20%;
    }
  }
  @media screen and (min-width: 400px) and (max-width: 767px) {
    width: 360px;

    padding-right: 0;

    &:not(:first-child) {
      padding-right: 0;
    }
  }
  @media screen and (min-width: $tablet-768) {
    min-width: 235px;

    &:not(:first-child) {
      padding-right: 7%;
    }

    line-height: 1.43;
  }
  @media screen and (min-width: $desktop-1366) {
    max-width: 370px;
    height: 102px;

    font-size: 20px;

    &:not(:first-child) {
      padding-right: 3%;
    }
  }
}

// <Li::before>
.advantages-item::before {
  content: '';
  min-width: 60px;
  min-height: 60px;
  margin-right: 10px;

  background-image: url(../images/advantages/icon-advantages-1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: $desktop-1366) {
    min-width: 100px;
    min-height: 102px;
    margin-right: -18px;
    background-image: url(../images/advantages/icon-advantages-desktop-1.svg);
  }
}
// <Li::before [ 2 ] >
.advantages-item:nth-child(2)::before {
  background-image: url(../images/advantages/icon-advantages-2.svg);

  @media screen and (min-width: $desktop-1366) {
    background-image: url(../images/advantages/icon-advantages-desktop-2.svg);
  }
}
// <Li::before [ 3 ]>
.advantages-item:nth-child(3)::before {
  background-image: url(../images/advantages/icon-advantages-3.svg);

  @media screen and (min-width: $desktop-1366) {
    background-image: url(../images/advantages/icon-advantages-desktop-3.svg);
  }
}
