.reviews {
  margin-top: 50px;
  margin-bottom: 50px;
}

.reviews-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-second-color;
}

.reviewer-img {
  margin: 24px auto;
}

.reviewer-icon {
  display: block;
  margin: 24px auto;
}

.reviewer-name {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.08em;
  color: $accent-color;
  margin-bottom: 16px;
}

.reviewer-shcool {
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: $text-primary-color;
  margin-bottom: 16px;
  margin-right: 10%;
  margin-left: 10%;
}

.reviewer-feedback {
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  color: $text-third-color;
  margin-right: 8%;
  margin-left: 8%;
  width: 84%;
}

.reviewer-icon-link {
  display: block;
}

////////////////////SHOW MORE////////////////////////////
.read-more-state {
  display: none;
}

.reviewer-read-more {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: $time250 $cubic;
}

.read-more-state:checked ~ .reviewer-feedback .reviewer-read-more {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less';
}

.read-more-trigger {
  cursor: pointer;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  text-decoration-line: underline;
  color: $accent-color;
}
.reviewer-item {
  width: 54px;
  height: 54px;
  cursor: pointer;
}

.item-1 {
  background: url(../images/reviews/item-1.jpg);
}

.item-2 {
  background: url(../images/reviews/item-2.jpg);
}

.item-3 {
  background: url(../images/reviews/item-3.jpg);
}

.item-4 {
  background: url(../images/reviews/item-4.jpg);
}

.item-5 {
  background: url(../images/reviews/item-5.jpg);
}

.item-6 {
  background: url(../images/reviews/item-6.jpg);
}

.item-7 {
  background: url(../images/reviews/item-7.jpg);
}

.reviewer-list {
  display: flex;
  justify-content: center;
  margin-top: 62px; 
}

@media screen and (max-width: 767px) {
  .item-4, .item-5, .item-6, .item-7 {
    display: none;
  }
  .reviewer-item:not(:last-child) {
    margin-right: 10px;
  }
  .reviewer-list {
    position: relative;

    &::before{
      content: '';
      display: block;
      width: 27px;
      height: 15px;
      background-image: url(../images/reviews/left-arrow.svg);
      position: absolute;
      transform: translateY(100%);
      left: 0;
      top: 0;
    }
    &::after {
      content: '';
      display: block;
      width: 27px;
      height: 15px;
      background-image: url(../images/reviews/right-arrow.svg);
      position: absolute;
      transform: translateY(100%);
      right: 0px;
      top: 0;
    }

  }
}

@media screen and (min-width: 768px) {
  .reviewer-item:not(:last-child) {
    margin-right: 30px;
  }
  .reviewer {
    display: flex;
    justify-content: space-around;
  }

  .reviewer-text-wrapper {
    width: 60%;
  }
  .reviews-img-wrapper {
    width: 30%;
  }
  .reviews-title {
    font-size: 26px;
    margin-bottom: 70px;
  }
  .reviewer-name {
    font-size: 20px;
    text-align: start;
    margin-bottom: 20px;
  }
  .reviewer-shcool {
    text-align: start;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .reviewer-feedback {
    text-align: start;
    margin-right: 0;
    margin-left: 0;
  }

  .reviewer {
    position: relative;
    &::before{
      content: '';
      display: block;
      width: 27px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      height: 15px;
      background-image: url(../images/reviews/left-arrow.svg);
      position: absolute;
      left: 0;
      top: 50%;
    }
    &::after {
      content: '';
      display: block;
      width: 27px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      height: 15px;
      background-image: url(../images/reviews/right-arrow.svg);
      position: absolute;
      right: 0;
      top: 50%;
    }
  }
  .reviewer-list{
    margin-top: 70px;
  }

}

@media screen and (min-width: 1366px) {
  .reviews {
    margin-right: 10%;
    margin-left: 10%;
  }
  .reviewer {
    &::before{
      left: -100px;
    }
    &::after {
      right: -100px;
 
    }
  }
  .read-more-trigger {
    text-align: start;
  }
  .reviews-title {
    font-size: 46px;
    margin-bottom: 100px;
  }
  .reviewer-shcool {
    margin-bottom: 10px;
  }
}
