.footer-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-top {
  text-align: center;
  background-color: $white-color;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.footer-logo {
  margin-bottom: 21px;
  text-align: center;

  @media screen and (min-width: 768px) {
    /*padding-left: 40px;*/
    margin-right: 203px;
  }
  @media screen and (min-width: 1366px) {
    padding-left: 183px;
    margin-right: 290px;
  }
}
.fotter-logo-link {
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.footer-logo-icon {
  width: 80px;
  height: 29px;

  @media screen and (min-width: 768px) {
    width: 128px;
    height: 45px;
  }
}
.footer-list {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.footer-item .link {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  text-decoration: none;
  color: $text-second-color;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    line-height: 1.2;
  }
  @media screen and (min-width: 768px) {
    font-size: 30px;
    line-height: 1.23;
  }
}
.footer-item:not(:last-child) {
  @media screen and (min-width: 768px) {
    padding-right: 24px;
    border-right: 1px solid #b9b9b9;
    margin-right: 24px;
  }
  @media screen and (min-width: 768px) {
    padding-right: 16px;
  }
}
/*.footer-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.08em;
  color: $text-second-color;
}*/

.footer-tel {
  width: 20px;
  height: 20px;
  fill: $accent-color;
  margin-right: 10px;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
  @media screen and (min-width: 1366px) {
    width: 30px;
    height: 29px;
    margin-right: 15px;
  }
}
.footer-item:not(:last-child) {
  margin-bottom: 31px;
}
.footer-social-link {
  width: 40px;
  height: 40px;
  background-image: /*linear-gradient(
      (rgba(131, 58, 180, 0)),
      (rgba(131, 58, 180, 0)),
      (rgba(131, 58, 180, 0)),
      (rgba(131, 58, 180, 0)),
      (rgba(131, 58, 180, 1)),
      (rgba(161, 181, 216, 0)),
      (rgba(250, 225, 0, 0)),
      (rgba(250, 225, 0, 1))
    ),*/ url('../images/compressed/footer/icon-instagram.svg');
}
.footer-bottom {
  min-height: 70px;
  background-color: $text-second-color;
  padding-top: 21px;
  padding-bottom: 21px;

  @media screen and (min-width: 768px) {
    padding-left: 40px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 183px;
  }
}
.fotter-bottom-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  color: $text-primary-color;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.fotter-bottom-text::before {
  content: '\0040';
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  text-align: center;
  color: $text-primary-color;
}
