.reviews {
  margin-top: 50px;
  margin-bottom: 50px;
}

.reviews-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-second-color;
}

.reviewer-img {
  margin: 24px auto;
}

.reviewer-icon {
  display: block;
  margin: 24px auto;
}

.reviewer-name {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.08em;
  color: $accent-color;
  margin-bottom: 16px;
}

.reviewer-shcool {
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  color: $text-primary-color;
  margin-bottom: 16px;
  margin-right: 10%;
  margin-left: 10%;
}

.reviewer-feedback {
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  color: $text-third-color;
  margin-right: 8%;
  margin-left: 8%;
  width: 84%;
}

////////////////////SHOW MORE////////////////////////////
.read-more-state {
  display: none;
}

.reviewer-read-more {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: $time250 $cubic;
}

.read-more-state:checked ~ .reviewer-feedback .reviewer-read-more {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less';
}

.read-more-trigger {
  cursor: pointer;
  line-height: 2;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  text-decoration-line: underline;
  color: $accent-color;
}
