.section-title {
    font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 130%;
/* or 26px */

text-align: center;
letter-spacing: 0.03em;

color: #111518;
}


.icon-how-we-do {
    width: 48px;
    height: 48px;
}

.card-list {
    flex-direction: column;
    align-items: center;

    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: -20px;

    @media screen and (min-width: $tablet-768) and (max-width: 1365px) {
        flex-direction: row;
    }

    @media screen and (min-width: $desktop-1366) {
        flex-direction: row;
    }
}

.card-list__item {
    flex-direction: column;
    align-items: center;
    

    display: flex;
    margin-left: 20px;
    margin-top: 20px;

    max-width: 280px;
    max-height: 280px;

    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);

    @media screen and (min-width: $tablet-768) and (max-width: 1365px) {
        width: calc((100% - 2 * 20px) / 2);
        max-width: 334px;
        max-height: 334px;
    
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    
      @media screen and (min-width: $desktop-1366) {
        flex-basis: calc((100% - 60px) / 3);
        max-width: 425px;
        max-height: 396px;
      }
}

.card-list__link {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #111518;
  
    
  
    &:hover,
    &:focus {
        background: #FF6B09;
        box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
      
    }
  }

.card-list__link:focus .icon-how-we-do,
.card-list__link:hover .icon-how-we-do {
  fill: #ffffff;
}

.card-list__link:focus .card-title,
.card-list__link:hover .card-title {
  color: #ffffff;
}

.card-list__link:focus .card-text,
.card-list__link:hover .card-text {
  color: #ffffff;
}

  .card-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    /* or 140% */
    text-align: center;
    letter-spacing: 0.08em;
    color: #111518;

    @media screen and (min-width: $tablet-768) and (max-width: 1365px) {
        flex-direction: row;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 28px;
        /* or 200% */
        text-align: center;
        letter-spacing: 0.08em;
        color: #111518;
    }

    @media screen and (min-width: $desktop-1366) {
        flex-direction: row;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        /* or 140% */
        text-align: center;
        letter-spacing: 0.08em;
        color: #111518;
    }

  }

.card-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */
    text-align: center;
    letter-spacing: 0.08em;
    color: #B9B9B9;
    

    @media screen and (min-width: $tablet-768) and (max-width: 1365px) {
        flex-direction: row;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 28px;
        /* or 233% */
        text-align: center;
        letter-spacing: 0.08em;
    }

    @media screen and (min-width: $desktop-1366) {
        flex-direction: row;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        /* or 156% */
        text-align: center;
        letter-spacing: 0.08em;
        color: #B9B9B9;
    }
}
