.header {
  position: relative;
}
.header-flex {
  display: flex;
  align-items: center;
}
.header-navigation .header-link + .header-link {
  margin-left: 50px;
}
.header-link {
  cursor: pointer;

  &:hover {
    color: $accent-color;
  }
}
.header-navigation {
  display: none;

  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: $text-primary-color;

  @media screen and (min-width: $desktop-1366) {
    display: flex;
  }
}
.header-logo-icon {
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: $tablet-768) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.header-icon {
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;

  @media screen and (min-width: $tablet-768) {
    margin-left: 40px;
  }

  @media screen and (min-width: $desktop-1366) {
    display: none;
  }
}
.header-logo {
  width: 80px;
  height: 30px;

  @media screen and (min-width: $tablet-768) {
    width: 128px;
    height: 45px;
  }

  @media screen and (min-width: $desktop-1366) {
    margin-right: 144px;
  }
}
.header-flex .button-consultation {
  @media screen and (min-width: $tablet-768) {
    display: block;
    padding: 15px 10px 15px 10px;
    margin-left: auto;
  }

  @media screen and (min-width: $desktop-1366) {
    padding: 26px 50px 26px 50px;
  }
}
