.footer {
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(to bottom, $white-color 76%, $text-second-color 24%);
  }
  @media screen and (min-width: $tablet-768) {
    background-image: linear-gradient(to bottom, $white-color 65%, $text-second-color 35%);
  }
  @media screen and (min-width: $desktop-1366) {
    background-image: linear-gradient(to bottom, $white-color 69%, $text-second-color 31%);
  }
}
.footer-top {
  display: flex;
  @media screen and (max-width: 767px) {
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: $tablet-768) {
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: $desktop-1366) {
    padding-top: 52px;
    padding-bottom: 52px;
  }
}
.footer-logo {
  text-align: center;
  @media screen and (max-width: 768px) {
    margin-bottom: 21px;
  }
  @media screen and (min-width: $desktop-1366) {
    margin-right: 290px;
  }
}
.fotter-logo-link {
  align-items: center;
  @media screen and (min-width: $tablet-768) {
    display: flex;
  }
}
.footer-logo-icon {
  width: 80px;
  height: 29px;
  @media screen and (min-width: $tablet-768) {
    width: 128px;
    height: 45px;
  }
}
.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $tablet-768) {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
  @media screen and (min-width: $desktop-1366) {
    margin-left: 0;
  }
}
.footer-tel-link {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  font-size: inherit;
  line-height: 1.21;
  letter-spacing: 0.08em;
  text-decoration: none;
  color: $text-second-color;
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $tablet-768) {
    font-size: 20px;
    margin-right: 50px;
  }
  @media screen and (min-width: $desktop-1366) {
    font-size: 30px;
    margin-right: 40px;
  }
}
.footer-tel {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: $accent-color;
  transform: rotateZ(0deg);
  transition: transform $time1250 $cubic;
  @media screen and (min-width: $tablet-768) {
    width: 24px;
    height: 24px;
  }
  @media screen and (min-width: $desktop-1366) {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .footer-tel-link:hover &,
  .footer-tel-link:focus & {
    transform: rotateY(360deg);
  }
}
.footer-social-link {
  width: 40px;
  height: 40px;
  background-image: url('../images/footer/icon-instagram.svg');
  @media screen and (min-width: $tablet-768) {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 40px;
      border: 1px solid $text-third-color;
      left: -25px;
    }
  }
}
.fotter-bottom-text {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: inherit;
  line-height: 2;
  color: $text-primary-color;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.fotter-bottom-text::before {
  content: '\0040';
  font-weight: 500;
  font-size: inherit;
  line-height: 2;
  text-align: center;
  color: $text-primary-color;
}
