.benefits {
  background-image: linear-gradient($text-second-color 68%, $white-color 68% 100%);
  counter-reset: section;
}

.benefits-container {
  outline: 1px solid red;
}

.benefits-title {
  margin-bottom: 30px;
  width: 180px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: $white-color;
}

.benefits-list {
  outline: 1px solid green;
  margin: 0 auto;
  //   width: 280px;
  padding: 20px 14px 20px 30px;
  background-color: $white-color;
  box-shadow: -5px 8px 26px $shadow-primary-color;
}

.benefits-item {
  counter-increment: section;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: $text-second-color;

  &:not(:last-child) {
    margin-bottom: 36px;
  }

  &::before {
    content: '\2015  0'counter(section) '';
    display: block;
    margin-bottom: 10px;
    line-height: 1.65;
    color: $accent-color;
  }
}
